@use './_variables' as *;
@use './header';
@use './footer';


html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Arial', sans-serif;
  background-image: url('./../assets/img/wood-background.jpg');
  background-size: cover;
  background-position: center;
}
